HTML {
  background-color: rgb(110, 197, 197);
  font-size: larger;
  color: azure;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.weather {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: larger;
  color: azure;
}

h1 {
  font-size: larger;
  color: azure;
}

.flex-items {
  display: flexbox;
  justify-content: center;
}

.Header {
  font-size: xx-large;
}
