HTML{
    background-color: aqua;
    font-size: larger;
    color:azure;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.weather {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    color:azure;

}

h1 {
    font-size: larger;
    color:azure;
}