* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  background-image: url("./bali-background.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 100%;
}

.main {
  padding: 25%;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.75)
  );
}

.main .container {
  height: 400px;
  width: auto;
  margin-top: -140px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5%;
  text-align: center;
}

.header {
  display: flexbox;
  position: relative;
  text-align: center;
  font-family: "Special Elite", cursive;
  color: rgb(220, 237, 245);
  padding: 4vh 6vh 2vh 6vh;
}
.header h1 {
  font-weight: 100;
  font-size: x-large;
}
.header h2 {
  padding: 2vh 5vh;
  font-weight: 200;
  font-size: medium;
}
input[placeholder] {
  color: #60a3bc28;
}
input[type="text"] {
  background-color: rgba(220, 237, 245, 0.521);
  font-family: "Special Elite", cursive;
  width: 50%;
  padding: 2.8vh 3vh;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #555;
  outline: none;
}

input[type="text"]:focus {
  border: 3px solid #60a3bc;
  color: rgb(220, 237, 245);
}

.submitbtn {
  font-family: "Special Elite", cursive;
  margin: 1vh;
  color: rgb(220, 237, 245);
  text-transform: uppercase;
  text-decoration: none;
  background: #60a3bc;
  padding: 3vh;
  border-radius: 50px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
}

.submitbtn:hover {
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0px 5px 40px -10px rgb(220, 237, 245);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}

.weather {
  padding: 5vh;
  font-size: medium;
  font-family: "Special Elite", cursive;
  color: rgb(220, 237, 245);
  text-shadow: 3px 3px rgba(0, 0, 0, 0.3);
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 2vh;
  row-gap: 3vh;
}

.weather > box {
  box-sizing: border-box;
  height: 5vh;
  align-items: center;
  display: grid;
  padding: 5vh;
  text-align: center;
}

.weather h1 {
  font-size: medium;
}
